.chat {
  display: flex;
  min-height: calc(100vh - 95px);
  max-height: calc(100vh - 95px);
  flex-direction: column;
  .chat__content {
    overflow: hidden;
    flex: 1;
    overflow-y: scroll;
    max-height: calc(100vh - 190px);
  }
}
