@import '../styles/settings/_all';
@import '../styles/tools/_all';
@import '../styles/generic/_all';
@import '../styles/elements/_all';
@import '../styles/objects/_all';
@import '../styles/components/_all';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
.app-content {
  padding: 15px;
  flex: 1;
  overflow-y: auto;
}
mat-toolbar {
  background: #f12711 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;

  span {
    font-weight: $font-weight-bold;
    color: $color-white;
  }
}
// Nav
nav {
  .tabs-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $color-grey;
    background-color: $bg-color-gray;

    a {
      text-decoration: none;
      color: $color-text-light-grey;
    }
    .active__tab {
      color: $color-brand;
    }
  }
}
