<ng-template #welcome>
  <div class="weclome-message">
    <h1>Welcome ....</h1>
  </div>
</ng-template>
<div class="contacts" *ngIf="users; else welcome ">
  <ul>
    <li class="contact" *ngFor="let user of users; let isFirst = first" [class.active]="isFirst">
      <div class="wrap">
        <span class="contact__status {{user.contact_status}}"></span>
        <img class="contact__img" [src]="user.contact_image" [alt]="user.contact_name" />
        <div class="contact__meta">
          <p class="contact__name">{{user.contact_name}}</p>
          <p class="contact__preview">{{user.contact_perview}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>